*{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
}


html,body{
          height: 100%;
          width: 100%;
          
           font-family: "Rubik", sans-serif;
           overflow-x: hidden;
}


li{
          list-style: none;
}

a{
          text-decoration: none;
          color: #000;
         
}

.flex{
          display: flex;
}


#main{
  height: 100vh;
  width: 100%;
  position: relative;
 
}
/*------Loader------*/

.loader{
  min-height: 100%;
  width: 100%;
  background-color: #0f172a;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  
}


.loader img{
  height: 80px;
  margin-left: 10px;
  animation: move 1s infinite alternate;
}

@keyframes move {
  from{
    transform: rotateZ(120deg);
    transform: scale(0.4);
  }
  to{
    transform: rotateZ(-120deg);
    
  }
}

.page1{
          min-height: 100vh;
          width: 100%;
          /* background-color: #fff; */
         position: relative;
         
}

.pattern{
  position: absolute;
  height: 100vh;
  }
  
  .pattern img{
            height: 100%;
  }


nav{
          height: 100px;
          min-width: 100%;
          background-color: red;
          padding: 30px;
          background-color: #121b31;
          position: fixed;
          top: 0;
          z-index: 98;        
}

.navlogo{
          gap: 10px;
}
.navlogo h1{
          font-size: 30px;
          font-family: "Rubik", sans-serif;
          color: rgb(206, 228, 237);
}
.nav-bar{
          justify-content: space-around;
          align-items: center;
}
.nav-list{
          gap:50px;
}
.nav-list li a{
          font-size: 19px;
          font-family: "Rubik", sans-serif;
          color: rgb(238, 231, 231);
          cursor: pointer;
          transition: all ease-in 0.5s;
          border-bottom: none;
}

.nav-list li a:hover{
          color: aqua;
          border-bottom: 2px solid aqua;
          transform: translateY(-5px);
          
}
.nav-list li.home a{
          color: aqua;
}
.nav3{
          gap:40px;
         
}

.nav3 i{
          font-size: 25px;
          cursor: pointer;
          color: rgb(238, 231, 231);
}

.subscribe{
          cursor: pointer;
          
}
.subscribe button{
          height: 35px;
          width: 90px;
          font-size: 15px;
          border: none;
          border-radius: 10px;
          
          background:linear-gradient(to right,#0ea7ea,#0BCBD4);
          transition:all ease-in-out 0.8s;  
   
}
.subscribe button a{
          color: #fff;
          font-weight: 500;
}
.subscribe button:hover{
          background:linear-gradient(to left,#0ea7ea,#0BCBD4);
          transform: translateY(-5px);
}

.hamburger{
  display: none;
}



.searchBtn{
  position: absolute;
  top: 50px;
  right: 20%;
  font-size: 25px;
}

.search-box{
  height: 0;
  width: 350px;
  background-color: #0B1222;
  padding: 8px 12px;
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 80px;
  right: 18%;
  opacity: 0;
  overflow: hidden;
}

.search-input{
  height: 35px;
  width: 100%;
  background-color: #0F172A;
  border: 1px solid #34415f;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.search-input input{
  height: 100%;
  width: 85%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #7488A7;
  padding-left: 10px;
}

.search-input.active {
  border: 1px solid rgb(196, 199, 200);
}

.search-input i{
  font-size: 20px;
  color: #7488A7;
  padding-right: 10px;
}
.search-tags {
  flex-direction: column;
  gap:5px;
}
.search-tags p{
font-size: 15px;
color: rgb(206, 228, 237);
}

.taglist{
  gap: 10px;
}
.taglist li a{
  font-size: 12px;
  color: #7488A7;
}

.taglist li a:hover{
  color: rgb(206, 228, 237);
}

@media (min-width: 450px) and (max-width: 950px){
  
          .nav-bar{
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 60px;
          }

          .nav-list{
            background-color: #121b31ae;
            position: absolute;
            width: 350px;
            height: 100vh;
            display: none;
            top: 100px;
            right: 0;
            padding: 50px 20px;
            
          }

          

          .nav-list li{
            margin-bottom: 20px;
          }

          .nav-list li a{
            font-size: 25px;
            
          }
          .hamburger{
                    display: block;
          }

          .nav3{
                    gap:20px;
                   
          }
}
@media (max-width: 450px){

          nav{
                    height: 90px;
                    
                    
          }

          .navlogo h1{
                    font-size: 25px;
                    font-family: "Rubik", sans-serif;
                    color: rgb(206, 228, 237);
          }
          .nav-bar{
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 10px;
          }
          
          .nav-list{
            background-color: #121b31ae;
            position: absolute;
            width: 350px;
            height: 100vh;
            display: none;
            top: 100px;
            right: 0;
            padding: 50px 20px;
            
          }

          .nav-list li{
            margin-bottom: 20px;
          }

          .nav-list li a{
            font-size: 25px;
            
          }
          
          .nav-list li a:hover{
                    color: aqua;
                    border-bottom: 2px solid aqua;
                    transform: translateY(-5px);
                    
          }
          
          .nav3{
                    align-items: center;
                    gap:8px; 
          }
          
          .nav3 i{
                    font-size: 20px;      
          }


          .nav-list{
                    display: none;
          }
          .hamburger{
                    display: block;
          }

          
}
@media (max-width: 425px){
  
          nav{
                    height: 90px;
                    padding: 30px 10px;          
          }
          
          .navlogo{
                    gap:0;
          }

          .navlogo h1{
                    display: none;
          }
          .nav-bar{
                    align-items: center;
                    gap: 50px;
                   
          }

          .nav-list{
            background-color: #121b31;
            position: absolute;
            width: 100%;
            height: 100vh;
            display: none;
            top: 90px;
            right: 0;
            padding: 50px 20px;
            
          }

          .nav-list li{
            margin-bottom: 20px;
          }

          .nav-list li a{
            font-size: 25px;
            
          }
          
          .nav3{
                    gap:10px;
                   
          }
          
          .hamburger{
            display: block;
          }

          .search-box{
            right: 0;
            margin-right: 5px;
          }

}


.content{
          min-height: 100vh;
          width: 100%;
          /* background-color: red; */
          margin-top: 50px;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
}

.left-content{
          height: 400px;
          width: 40%;
          /* background-color:rgba(0, 255, 255, 0.174); */
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: "Rubik", sans-serif;
          color: rgb(206, 228, 237);
          gap: 20px;
}


.left-content p{
  font-size: 18px;
  font-weight: 300;
}

.Name{
  display: inline-flex;
}

.Name .statictext{
  color: #fff;
  font-size: 80px;
  font-weight: 600;
}

.Name .dynamictext{
  margin-left: 15px;
  font-family: "Rubik", sans-serif; 
  color: #0ea7ea;
  font-size: 80px;
  font-weight: 600;
}
.dynamictext span{
  position: relative;
}
.dynamictext span::after{
  content:"";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0F172A;
  border-left:  2px solid #fff;
  animation: typing 1.8s steps(6)  infinite;
}
@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -35px 0 45px;
  }
}

@media (min-width:480px) and (max-width:650px) {
  
.Name .statictext{
  font-size: 60px;
}

.Name .dynamictext{
  font-size: 60px;
}
}
@media (min-width:420px) and (max-width:475px) {
  

.Name .statictext{
  font-size: 50px;
}

.Name .dynamictext{
  font-size: 50px;
}

.dynamictext span::after{
  content:"";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0F172A;
  border-left:  2px solid #fff;
  animation: typing 1.8s steps(6)  infinite;
  
}
}
@media (min-width:320px) and (max-width:420px) {
  
.Name .statictext{
  font-size: 60px;
}

.Name .dynamictext{
  font-size: 60px;
}

.dynamictext span::after{
  
  background-color: transparent;
  border-left:  none;
  animation: none;
}
}


.input-wrapper{
  height: 50px;
  width: 320px;
  border: 1px solid #0ea7ea;
  border-radius: 10px;
  background-color: #222F43;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 10px;
  
}

.input-wrapper:hover{
box-shadow: 0 0 6px  #0ea7ea;
}
.input-field{
  background-color: transparent;
  border: none;
  
}
input[type="email"] {
outline:none;
color: rgb(206, 228, 237);
font-size: 15px;
}

.input-field::placeholder{
  color: rgb(206, 228, 237);
  font-size: 15px;
  padding: 5px;
}

.submit{
  height: 35px;
  width: 100px;
  font-size: 15px;
  border: none;
  outline:none;
  border-radius: 10px;
  cursor: pointer;
  background:linear-gradient(to right,#0ea7ea,#0BCBD4);
  color: #fff;
  padding-left: 5px;
  transition:all ease-in-out 0.8s;  

}

.submit :hover{
  background:linear-gradient(to left,#0ea7ea,#0BCBD4);
  
}
.right-content{
          height: 450px;
          width: 25%;
          /* background-color:rgb(123, 207, 207); */
          margin-top: 25px;
        
          border-radius: 30px;
}

.right-content img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  animation: imageMove 2s  infinite linear;
}

@keyframes imageMove {
  0%{
            transform: translateY(0);
  }
  50%{
            transform: translateY(-20px);
  }
  100%{
            transform: translateY(0);
  }
  
}


@media (min-width:800px) and (max-width: 1400px){

  .content{
    min-height: 100vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 50px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.left-content{
    height: 400px;
    width: 50%;
    

    
}
.right-content{
    height: 450px;
    width: 30%;
    /* background-color:rgba(123, 207, 207, 0.168); */
   
}

}

@media (min-width:450px) and (max-width: 768px){
          .content{
                    min-height: auto;
                    width: 100%;
                    /* background-color: red; */
                    margin-top: 500px;
                  padding: 30px;
                  display: inline;
          }

          .left-content{
                    margin-top: 100px;
                    height: 400px;
                    width: 100%;
                    /* background-color:rgba(0, 255, 255, 0.105); */
                    padding: 25px;

                    flex-direction: column;
          justify-content: center;
          font-family: "Rubik", sans-serif;
          color: rgb(206, 228, 237);
          gap: 20px;

                    
          }
          .right-content{
                    height: 5%;
                    width: 50%;
                    /* background-color:rgba(123, 207, 207, 0.168); */
                    margin-top: 25px;
                    margin-left: 25%;
          }
          
}

@media (min-width:320px) and (max-width: 450px){

  .content{
    min-height: auto;
    width: 100px;
    /* background-color: red; */
    margin-top: px;
  padding: 30px;
  display: inline;
}

.left-content{
    margin-top: 100px;
    height: 400px;
    width: 100%;
    /* background-color:rgba(0, 255, 255, 0.105); */
    padding: 25px;

    flex-direction: column;
justify-content: center;
font-family: "Rubik", sans-serif;
color: rgb(206, 228, 237);
gap: 20px;

    
}

.right-content{
    height: 5%;
    width: 50%;
    /* background-color:rgba(123, 207, 207, 0.168); */
    margin-top: 25px;
    margin-left: 25%;
}



  .left-content p{
    font-size: 15px;
    font-weight: 300;
  }
  .left-content h1{
    font-size: 50px;
  }
  .input-wrapper{
    height: 50px;
    width: 100;
    gap: 10px;
    padding: 5px;
  }

  .submit{
    height: 35px;
    width: 100px;
    font-size: 14px;
  }

  
}





#page2{
  min-height: 100vh;
  width: 100%;
  background-color: #0F172A;
  position: relative;
  margin-top: 100px;
}

.hot-topics{
  margin-left: 10%;
  width: 80%;
  min-height: 35vh;
  flex-direction: column;
  gap: 50px;
  /* background-color: #fff; */
}

.hot-heading h1{
  font-size: 55px;
  background:linear-gradient(to right,#02b3ff,#5dd9df);
  -webkit-background-clip: text;
  color: transparent;
}

.hot-heading p{
  color: rgb(206, 228, 237);
  margin-top: 15px;
}
.topic-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}




.topic{
  height: 100px;
 width: 250px;
  border: 1px solid #34415f;
  border-radius: 15px;
  background-color: #131C31;
  align-items: center;
  justify-content: space-around;
transition: 0.5s all ease-in-out;
}

.topic:hover{
  scale: 1.125;
  border:1.5px solid #02b3ff;
  box-shadow: 0px 0px 5px #5dd9df;
}



.t-image img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.t-content{
  font-size: 16px;
  color: rgb(206, 228, 237);
}
@media (min-width: 1000px) and (max-width: 1400px){
  .hot-topics{
    width: 85%;
  }

  .topic-box{
    justify-content: space-evenly;
  }
}

@media (min-width: 320px) and (max-width: 990px){
  .hot-topics{
    width: 85%;
  }

  .topic-box{
    flex-wrap: wrap;
    justify-content: space-around;
  }
}




.page2-content{
  margin-top: 50px;
  gap: 25px;
}

.p2-leftContent{
  width: 55%;
  height: 100%;
  /* background-color: #fff; */
  margin-left: 10%;
  margin-top: 50px;
}

.recent-head{
  height: 100px;
  width: 100%;
  /* background-color: #fff; */
  
  
}

.recent-head h1{
  font-size: 55px;
  font-family: "Rubik", sans-serif; 
  background:linear-gradient(to right,#02b3ff,#5dd9df);
  -webkit-background-clip: text;
  color: transparent;

}

.recent-head p{
  font-family: "Rubik", sans-serif;
  color: rgb(206, 228, 237);
  margin-top: 15px;
}

.post{
  margin-top: 50px;
  gap: 25px;
  min-width: 60%
 
}
.postImg{
  height: 250px;
  width: 30%;
  
}

.postImg img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.postContent{
  width: 55%;
  font-family: "Rubik", sans-serif;
  
}

.tip button{
  height: 30px;
  width: 120px;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #293547;
  font-weight: 600;
  transition: all ease-in-out 0.5s;
}

.tip button:hover{
  background:linear-gradient(to right,#02b3ff,#5dd9df);
  transform: translateY(-2px);
}
.postContent .heading{
  margin-top: 25px;
  line-height: 30px;
  color: rgb(206, 228, 237);
}


.postContent .heading:hover{
  /* background:linear-gradient(to right,#02b3ff,#3fe3ec); */
  color: #27b2ee;
  /* -webkit-background-clip: text; */
}
.postContent .P2-content{
  margin-top: 20px;
  line-height: 20px;
  color: rgb(206, 228, 237);
}

.dets{
  margin-top: 20px;
  justify-content: space-between;
  color: rgb(99, 99, 99);
}

.dets-left{
  gap: 20px;
}


.pageNum{
  margin-top: 50px;
}

.numlist{
  gap: 8px;
}

.numlist li{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #222F43;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 8px;
}
.p2-rightContent{
  width: 23%;
  height: 100%;
  /* background-color: #fff; */
  
}
.trending-article{
  background-color: #131C31;
  margin-top: 50px;
  border: 1px solid #34415f;
  border-radius: 10px;
  padding: 30px 20px;
  height: 430px;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
}
.trend .heading{
  justify-content: space-between;
}
.trend .heading h3{
  font-size: 25px;
  background:linear-gradient(to right,#02b3ff,#5dd9df);
  -webkit-background-clip: text;
  color: transparent;
}

.trend .heading button{
  background-color: transparent;
  color: #fff;
  width: 70px;
  border: 1px solid;
  border-radius: 10px;
  height: 25px;
}

.article{
  padding: 15px 0 20px 0;
  border-bottom: 3px solid #222F43;
}

.article h3{
  color: rgb(206, 228, 237);
  font-weight: 400;
  transition: 0.5s;
}

.article h3:hover{
  background:linear-gradient(to right,#02b3ff,#5dd9df);
  -webkit-background-clip: text;
  color: transparent;
}
.article-dets{
  padding-top: 10px;
  justify-content: space-between;
  color: rgb(99, 99, 99);
}

.showMore{
margin-top:10px;
}

.showMore button{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-weight: 300;
  color: #fff;
  background-color: #293547;
  font-weight: 600;
  transition: all ease-in-out 0.5s;
  
}
.showMore button:hover{
  background:linear-gradient(to right,#02b3ff,#5dd9df);
}

.showMore button span i{
  font-size: 15px;
  text-align: center;
  padding-right: 20px;
}


.comments{
  background-color: #131C31;
  margin-top: 50px;
  border: 1px solid #34415f;
  border-radius: 10px;
  padding: 20px 20px;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

.comments .heading h3{
font-size: 20px;
background:linear-gradient(to right,#02b3ff,#5dd9df);
-webkit-background-clip: text;
color: transparent;

}
.commenters{
  padding-top: 25px;
}
.user{
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  color: rgb(206, 228, 237);
  font-size: 20px;
  font-weight: 200;
}

.userName h4{
  font-size: 18px;
  text-align: center;
}
.userPic{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.userPic img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.daemon img{
  object-position: bottom;
}
.daemon h4{

}
.bookmark{
  background-color: #131C31;
  margin-top: 50px;
  border: 1px solid #34415f;
  border-radius: 10px;
  padding: 20px 20px;
  height: 200px;
  font-family: "Rubik", sans-serif;
}

.bookmark h3{
  background:linear-gradient(to right,#02b3ff,#5dd9df);
-webkit-background-clip: text;
color: transparent;
font-size: 25px;
}
.bookmark p{
padding: 50px;
font-size: 20px;
color: rgb(206, 228, 237);
}

@media (min-width: 1400px) and (max-width: 1440px){
  .trending-article{
    padding: 30px 20px;
    max-height: 430px;  
  }
}

@media (min-width: 1000px) and (max-width: 1300px)  {

  .p2-rightContent{
    width: 25%;
    height: 100%;
    /* background-color: #fff; */  
  }
  .trending-article{
    padding: 30px 20px;
    min-height: 525px;  
  }
  .commenters{
    padding-top: 25px;
  }

  .userPic{
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
 
  .bookmark h3{
  font-size: 25px;
  }

  .bookmark p{
  padding: 35px;
  font-size: 18px;
  }
}



@media (min-width: 768px) and (max-width: 1000px){

  .page2-content{
    flex-direction: column;
  }

  .p2-leftContent{
    width: 100%;
    padding: 25px 10%;
  }

  .post{
    margin-top: 50px;
    gap: 25px;
    width: 80%;
   
  }

  .heading h1{
    font-size: 25px;
  }
  .postImg{
    height: 250px;
    width: 30%;
    
  }
  
  .postImg img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  
  .postContent{
    width: 70%;
    font-family: "Rubik", sans-serif;
    
  }

  .p2-leftContent{
    width: 100%;
    padding: 25px;
  }

  .p2-rightContent{
    width: 100%;
    padding: 25px 10%;
  }

  .trending-article{
    padding: 30px 20px;
    height: 100%;  
  }

  .showMore{
    display: none;
  }
}


@media (min-width: 500px) and (max-width: 768px){

  .page2-content{
    flex-direction: column;
  }

  .p2-leftContent{
    width: 100%;
    margin-left: 5%;
  }

  .post{
    margin-top: 50px;
    gap: 25px;
    min-width: 60%
   
  }
  .postImg{
    height: 150px;
    width: 30%;
    
  }
  
  .postImg img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  
  .postContent{
    width: 70%;
    font-family: "Rubik", sans-serif;
    
  }


  .p2-rightContent{
    width: 100%;
    padding: 5%;
  }

  .trending-article{
    padding: 30px 20px;
    height: 100%;
     
  }
  .showMore{
    display: none;
  }
}


@media (min-width: 375px) and (max-width: 500px){

  .post{
    flex-direction: column;
    margin-top: 50px;
    gap: 25px;
    min-width: 100%
   
  }

  .page2-content{
    flex-direction: column;
  }

  .p2-leftContent{
    width: 100%;
    margin-left: 5%;
  }

  .post{
    margin-top: 50px;
    gap: 25px;
    min-width: 60%
   
  }
  .postImg{
    height: 100%;
    width: 100%;
    padding-right: 8%;
    
  }
  
  .postImg img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  
  .postContent{
    width: 100%;
    height: 100%;
    padding-right: 8%
    
  }


  .p2-rightContent{
    width: 100%;
    padding: 5%;
  }

  .trending-article{
    padding: 30px 20px;
    height: 100%; 
  }

  .showMore{
    display: none;
  }
}


@media (max-width: 370px){
.recent-head h1{
font-size: 48px;
}
.post{
  flex-direction: column;
  margin-top: 100px;
  gap: 25px;
  min-width: 100%
 
}

.page2-content{
  flex-direction: column;
}

.p2-leftContent{
  width: 100%;
  margin-left: 5%;
}

.post{
  margin-top: 50px;
  gap: 25px;
  min-width: 60%
 
}
.postImg{
  height: 100%;
  width: 100%;
  padding-right: 8%;
  
}

.postImg img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.postContent{
  width: 100%;
  height: 100%;
  padding-right: 8%;
  text-align:start;
}


.p2-rightContent{
  width: 100%;
  margin: 5%;
}

.trending-article{
  padding: 30px 20px;
  height: 100%;
}

.showMore{
  display: none;
}
}










.page3{
  min-height: 100%;
  width: 100%;
  background-color: #0F172A;
  position: relative;
  padding: 50px 0 25px;
}



footer{
  max-width:1380px;
  height: 100%;
  background-color: #131C31;
  border: 1px solid rgba(206, 228, 237, 0.123);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  border-radius: 50px;
  padding: 80px 100px 50px 100px;
  color: rgb(206, 228, 237);
  font-family: "Rubik", sans-serif;
  
}

.footer-top{
  gap: 30px;
  border-bottom: 1px  solid rgba(206, 228, 237, 0.107);
  justify-content: space-between;
}

.foot1{
  width: 33%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 22px;
  /* padding: 50px; */
  /* background-color: red; */
}

.aboutFoot p{
  font-size: 13px;
}

.address{
  width: 35%;
}
.foot2{
  width: 20%;
  height: 50vh;
  /* background-color: blue; */
}

.category-list{
  padding-top: 25px;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}
.category-list .head{
  height:  100px;
  font-weight: 400;
}
.category-list ul li{
  padding-top: 10px;
  font-size: 18px;
}

.category-list ul li a{
  color: #fff;
}
.foot3{
  width: 30%;
  height: 50vh;
  /* background-color: red; */
  flex-direction: column;
  gap: 25px;
}

.foot3 span{
  border-bottom: 2px  solid rgba(206, 228, 237, 0.507);
  padding-bottom: 5px;
}
.foot3 input{
  background-color: transparent;
  border: none;
  outline: navajowhite;
}

.foot3 input::placeholder{
  font-size: 15px;
  font-weight: 100;
}

.submit button{
  height: 30px;
  width: 100px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background:linear-gradient(to right,#0ea7ea,#0BCBD4);
}


.footer-down{
  padding-top: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-down .right {
  gap: 25px;
  
}

.footer-down .right a{
  color: rgb(206, 228, 237);
}




@media (min-width: 1000px) and (max-width: 1400px){

  .page3{
    padding:30px 25px;
  }
footer{
  max-width: 1280px;
  
  
}

.footer-top{
  gap: 25px;
  padding-bottom: 25px;
}

.category-list{
  padding-top: 25px;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
}


@media (min-width: 768px) and (max-width: 990px){

  .page3{
    padding:30px 25px;
  }


  footer{
    max-width: 930px;
    
    
  }
  
.footer-top{
  width: 100%;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 25px;
}

.foot1{
  width: 100%;
  height: 35vh;
}

.aboutFoot p{
  font-size: 18px;
}

.address{
  width: 20%;
}


.foot2{
  width: 50%;
  margin-top: 30px;
}

.head h3{
  font-size: 22px;
  font-weight: 400;
}
.category-list{
  padding-top: 25px;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}

.foot3{
  width: 100%;
  gap: 35px;
}
}


@media (min-width: 580px) and (max-width: 760px){
  .page3{
    padding:30px 25px;
  }


  footer{
    max-width: 930px;
    
    
  }
  
.footer-top{
  width: 100%;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 25px;
}

.foot1{
  width: 100%;
  height: 35vh;
}


.aboutFoot p{
  font-size: 15px;
}
.address{
  width: 35%;
}


.foot2{
  width: 50%;
  margin-top: 30px;
}

.head h3{
  font-size: 22px;
  font-weight: 400;
}
.category-list{
  padding-top: 25px;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}

.foot3{
  width: 100%;
  gap: 35px;
}

.footer-down{
  flex-direction: column;
  gap: 15px;
}
}
@media (min-width: 320px) and (max-width: 580px){
  .page3{
    padding:30px 25px;
  }


  footer{
    max-width: 930px;
    padding: 80px 50px 50px 50px;
    border-radius: 30px;
    
  }
  
.footer-top{
  width: 100%;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 25px;
}

.foot1{
  width: 100%;
  height: 35vh;
}

.address{
  width: 35%;
}


.foot2{
  width: 100%;
  margin-top: 80px;
}

.head h3{
  font-size: 25px;
  font-weight: 500;
}
.category-list{
  padding-top: 25px;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}

.foot3{
  width: 100%;
  gap: 35px;
}

.footer-down{
  flex-direction: column;
  gap: 15px;
}

.news h3{
  font-size: 25px;
  font-weight: 500;
}
}
@media (min-width: 320px) and (max-width: 370px){
  .page3{
    padding:30px 20px 30px 20px;
  }


  footer{
    width: 320px;
    padding: 30px 20px 50px 20px;
    border-radius: 30px;
    
  }
  
.footer-top{
  width: 100%;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 25px;
}

.foot1{
  width: 100%;
  height: 35vh;
}

.address{
  width: 35%;
}


.foot2{
  width: 100%;
  margin-top: 80px;
}

.head h3{
  font-size: 25px;
  font-weight: 500;
}
.category-list{
  padding-top: 25px;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}

.foot3{
  width: 100%;
  gap: 35px;
  
}

.footer-down{
  flex-direction: column;
  gap: 15px;
}

.news h3{
  font-size: 25px;
  font-weight: 500;
}
}

